:root {
--transition: all 0.3s linear;
}

body{
  background: #F9F1F0;
}

.nav-header {
  border: solid;
  border-radius: 20px;
  border-width: 3.5px;
  border-bottom-width: 2.5px;
  background: linear-gradient(45deg, rgb(255, 178, 178), rgba(248, 30, 30, 0.959));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/*
=============== 
Navbar
===============
*/

.nav-center {
  background: white;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
  display: flex;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 1111px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
  ul {
    list-style-type: none;
  }
}

body {
  font-family: 'Patua One', cursive;
}

a {
  text-decoration: none;
}

h4 {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

.plane {
  height: 50px;
}

.title {
  font-family: 'Cinzel', serif;
}

.description {
  font-family: "Satisfy";
  font-size: 22px;
}

#person-img {
  height: 250px;
  border: 3px solid black;
}

.reviews,
.apply {
  border-style: solid;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 20px 20px;
  background: #f8f8ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

}

.form-control {
  font-family: inherit;
}

.nav-center {
  background: transparent;
}





/* Custom button imported from codepen*/
.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-family: inherit;
  width: 100px;
  height: 30px;
  line-height: 20px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}

.custom-btn:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.custom-btn:before,
.custom-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.custom-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.custom-btn:hover:before,
.custom-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.btn-small {
  width: 22px;
  height: 22px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-family: inherit;
  line-height: 20px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-med {
  width: 90px;
  height: 30px;
}
.btn-large {
  width: 140px;
  height: 40px;
}